<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = 'header'>
    <div class = header-container>
      <h1>Members Only!</h1>
      <%= link_to 'Home', posts_path %>
      <%= link_to 'Share your secret!', new_post_path %>
    </div>
      <%= render 'user_panel'%>
  </div>
  <div class = 'content'>
    <%= yield %>
  </div>

  <div class=footer>
    <p>Proudly made in Yorkshire</p>
  </div>
  </body>
</html>
